#config-overlay{
    text-align: center;
}

#config-overlay {
    margin: 0.5rem 0;
}

.form-control{
    margin: 0.5rem 0;
}

.form-control label{
    display: block;
    margin: 0.5rem ;
    font-weight: bold;
}

.form-control input{
    font: inherit;
    border: 1px solid rgb(203,203,203);
    width: 15rem;
    padding: 0.3rem;
}