body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: rgb(44, 41, 44);
  background-color: rgb(247, 239, 247);
}

#main-header{
    background-color: rgb(140, 0, 255);
    color: white;
    padding: 2rem 5%;
    /* text-align: center; */
}
